@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullbackground{
    width: 100%;
    height: 100vh;
    background-image: url('images/background.png');
    display: flex;
    flex-direction: column;
    justify-content: center ;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.container1 h2{
    font-size: 55px;
    font-weight: 300;
    color: yellow;
    font-family: "Rubik Gemstones", system-ui;
    margin: 10px 0px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-self: center;    
}
.container2 .question{
    background-color: black;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 25px;
    color: white;
    margin: 10px 0px;
}
/* .container2 .question p{
    
} */
.container2 .option{
    background-color: white;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container2 .option .optionIn{
    font-size: 25px;
    margin-left: 10px;
}
.container2 .option .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
}
.container2 .rightanswer{
    background-color: greenyellow;
}
.container2 .rightanswer .circle{
    border: 2px solid white;
    background-image: url('images/right.png');
    background-size: cover;

}
.container2 .wronganswer{
    background-color: red;
}
.container2 .wronganswer .circle{
    border: 2px solid white;
    background-image: url('images/wrong.png');
    background-size: cover;

}
.container3{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container3 .btn{
    padding: 10px 20px;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 20px;
}
.container3 .btn:hover{
    
    background-color: black;
    color: white;
    cursor: pointer;
}

.scoreboard{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.scoreboard .scoretext{
    font-size: 20px;
}
.scoreboard .score{
    background-color: greenyellow;
    color: black;
    padding: 3px 5px;
    border-radius: 30px;
}

