*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
h1{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(53, 60, 196);
    text-align: center;
    margin: 20px;
}
.container{
    width: 400px;
    margin: 10px auto;
}
#add{
    margin-top: 30px;
    padding: 5px 15px;
    color: #222;
    font-weight: bolder;
    background-color: greenyellow;
    border: none;
    border-radius: 3px;
}
li{
    cursor: pointer;
}
.complete{
    text-decoration: line-through;
    color: red;
    cursor: pointer;
}