*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;

}
.container{
    background-color: white;

    max-width: 600px;
    border: 2px solid white;
    padding: 50px 80px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 140px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: #222;
    font-weight: 900;
    text-transform: uppercase;
}
label{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
input{
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
}
#btn{
    background-color: blue;
    border: 1px solid blue;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
#btn:hover{
    background-color: #0062cc;
}
#result{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}