body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.app {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
}

.input-box {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

li {
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: red;
  cursor: pointer;
}
