*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.container{
    width: 500px;
    background-color: antiquewhite;
    border: 1px  black;
    border-radius: 4px;
    margin: 200px auto;
    padding: 20px 40px;
}
#counter{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(66, 71, 228);
}
#result{
    font-size: 40px;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding: 20px 0px;

}
.btns{
    /* display: flex; */
    /* justify-content: space-between; */
    text-align: center;
        
}
.btns button{
    margin: 20px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}
#increment{
    background-color: blue;
}
#decrement{
    background-color: red;
}
#save{
    background-color: rgb(137, 222, 11);
}
#savedhistory{
    text-align: center;
}